img {
  height: 50vw;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 80px;
}

h2 {
  font-family: 'Metrophobic', sans-serif;
}

p {
  font-family: 'Metrophobic', sans-serif;
}

.black-icon {
  color: rgb(32, 36, 41);
  margin-right: 10px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-colour {
  color: #79c2d2;
}
